*{
    margin: 0px;
}

.navbar1{
    height: 70px;
    border: border-box;
    background-color: #FDA403;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
}

.navlogo{
    height: 50px;
    width: 120px;
    margin-top: 0px 5px 15px 5px;
    /* margin-left: 20px; */
    background-image: url("ss.png");
    background-size: cover;
  
}


#cb{
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    color: whitesmoke;

    align-content: center;

}
.navbar2{
    height: 30px;
    background-color: #151515;
    
}

#nav2{

    display: flex;
    justify-content: space-evenly;

}



#one{
    height: 790px;
    width: 100%;
    padding: 5px 5px 5px 5px;
    /* margin: 10px 10px 10px 10px; */
    background-image: url("rpic.jpg");
    background-size: cover;
    color: #151515;
    /* opacity: 70%; */
    background-color: white;
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
}


#one:active{
    background-image: url("ffff.jpg");
}

a{
    text-decoration: none;
    color: white;
}
.cont{
    height: 800px;
}

.mainfooter{
    height: 60px;
    background-color: #151515;
    color: white;
    
    
    
}

#niki{

    margin-top: 20px;
    font-weight: bold;
}

#search{

    margin-top: 18px;
}

#register{

    margin-top: 20px;
    font-weight: bold;
}
#f1{
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;

}

#f2{
    font-size: 15px;
    color: wheat;
    display: block;
    display: flex;
    justify-content: center;
}
#cart{
    height: 60px;
    width: 25px;
    margin-top: 22px;
    margin-right: 25px;
}

#reg{
    color: #151515;
}